
  
header {
      display: flex;
      justify-content: space-between;
      background-color: #025036;
      color: white;
      
      flex-direction: column;
      align-items: center;
      text-align: center;
      
    }

header h1 {
  flex: 1;
  display: flex;
  justify-content: center;
}

header .logo {
  max-height: 200px; 
}
  
  section[aria-label="navigation-area"] {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 2%;
  }
  
  
  
  aside {
    display: flex;
    gap: 1.5%;
    margin: 0.2%;
  }
  
  /* Profile Button Styles */
  aside a {
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 999px;
  text-decoration: none;
  font-weight: bold;
  color: #2e8b57;
  background-color: white;
  border: solid #2e8b57;
  transition: background-color 0.3s ease;
  white-space:nowrap;
  }
  
  aside a:hover {
    background-color: #2e8b57;
    color: white;
 }

h1 {
     color:black;
}

#notifContainer > p:only-child {
  color: #f85e00;
}





